/* *,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

.contenedor {
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000px;
}

.carga {
  border: 10px solid #ccc;
  border-top-color: #444b5a;
  border-top-style: grove;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: relative;
  top: 100px;
  left: -10px;
  margin: auto;
  -webkit-animation: girar1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
