.form {
  position: relative;
  left: 400px;
  bottom: 30px;
}
.heightMax {
  position: relative;
  right: 2px;
}
.weighMin {
  position: relative;
  left: 3.5px;
}

.name {
  position: relative;
  left: 75px;
}
.lifeSpanMin {
  position: relative;
  right: -12px;
}
.lifeSpanMax {
  position: relative;
  left: 8px;
}

.heightMin {
  position: relative;
  left: 2px;
}
.title {
  display: inline;
  position: relative;
  left: 930px;
  top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 560;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493), 0px 0px 0px black;
  color: #444b5a;
}

label {
  color: #4c5042;
  font-size: medium;
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493), 0px 0px 0px black;
}

input {
  background-color: #444b5a75;
  border-radius: 4px;
  border-color: transparent;
  margin: 10px;
  width: 200px;
  transition: background 0.8s;
  height: 20px;
}
input:hover {
  background: #ebeceeef;
  color: rgba(0, 0, 0, 0.924);
  border-color: rgb(71, 71, 71);
}

select {
  /* cursor: pointer; */
  padding: 7px 10px;
  height: 42px;
  font-size: 1em;
  color: #444b5a;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 0.25s ease;
  margin: 15px;
  transition: background 0.8s;
}
select:hover {
  background: #444b5a93;
  color: rgba(255, 255, 255, 0.924);
  border-color: rgb(71, 71, 71);
}

.error {
  color: red;
  font-size: small;
  margin: 0;
  position: relative;
  left: -210px;
  top: 20px;
  display: inline;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(250, 17, 17, 0.301),
    0px 0px 0px rgba(235, 11, 11, 0.377);
}
.error1 {
  color: red;
  font-size: small;
  margin: 0;
  position: relative;
  left: -140px;
  display: inline;
  top: 20px;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(250, 17, 17, 0.301),
    0px 0px 0px rgba(235, 11, 11, 0.377);
}
.error2 {
  position: relative;
  left: 150px;
  color: red;
  font-size: small;
  margin: 0;
  position: relative;
  left: -203px;
  display: inline;
  top: 20px;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(250, 17, 17, 0.301),
    0px 0px 0px rgba(235, 11, 11, 0.377);
}

.errorTemp {
  position: relative;
  color: red;
  font-size: small;
  margin: 0;

  left: 13px;
  display: inline;
  top: -13px;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(250, 17, 17, 0.301),
    0px 0px 0px rgba(235, 11, 11, 0.377);
}

.image {
  position: absolute;
  bottom: 200px;
  border-radius: 20px;
  height: 240px;
  width: 350px;
  left: 850px;
}

.allTemps {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 560;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493), 0px 0px 0px black;
  color: #444b5a;
}
.allTemps li {
  justify-content: center;
  display: inline;
}
.temp {
  font-size: medium;
  margin: 10px;
}
.tempTi {
  display: flex;
}

.button {
  position: relative;
  left: 112px;
  width: 100px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #444b5a;
  color: #ffffff;
  border: 2px solid #444b5a;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-size: 47px;
  background-position: 247px 0.5px;
  outline: none;
  box-shadow: 0 0 20px rgb(10, 8, 8);
  transition: background 0.8s;
}

.button:hover {
  border: 2px solid #2b3242;
  background-color: whitesmoke;
  color: #444b5a;
}

.x {
  background-color: #ec03037c;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: whitesmoke;
  width: 24px;
  height: 19px;
  transition: background 0.8s;
}

.x:hover {
  background-color: whitesmoke;
  color: #ec03037c;
  border: 1px solid #444b5a;
}

.divCreate {
  width: 100%;
  overflow: hidden;
}

.image1 {
  position: relative;
  left: 150px;
  color: red;
  font-size: small;
  margin: 0;
  position: relative;
  left: -218px;
  display: inline;
  top: 20px;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(250, 17, 17, 0.301),
    0px 0px 0px rgba(235, 11, 11, 0.377);
}
