.list {
  display: inline;
  color: black;
  float: left;
  padding: 4px;
  /* text-decoration: none; */

  /* border-radius: 15px; */
  margin: 6px;
  background-color: whitesmoke;
  overflow: hidden;
  transition: background-color 200ms ease, transform 0.5s;
  /* text-shadow: 0px 0px 10px black, 0px 0px 50px rgb(93, 86, 86); */
  box-shadow: 0px 0px 10px rgba(32, 2, 2, 0.596);
  transition: all 0.25s;
  width: 20px;
}

.list:hover {
  transform: translateY(-2px);
  background-color: rgba(7, 6, 6, 0.185);
  color: black;
  cursor: pointer;
}

.ul {
  position: absolute;
  left: 296px;
  top: 267px;
  background-color: transparent;
  padding: 0;
  text-align: center;
  color: brown;
  font-size: 19px;
  font-weight: 450;
  transition: 0.2s linear;
  margin-bottom: 40px;
  display: flex;
}

.num {
  width: 200px;
}
