.list {
  display: inline;
  vertical-align: top;
  border: lightgray 0.5px solid;
  font-size: 0.8em;
  padding: 0.3em;
  color: rgb(12, 12, 11);
}

.list:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}
