.paginado{
    display: inline;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: blanchedalmond;
    border-radius: 15px;
    margin: 4px;
}
.pepe{

}